.footer {
  background-color: rgba(255, 189, 89, 0.237);
  /* display: flex; */
  /* align-items: flex-end; */
  /* text-align: center;
  vertical-align: bottom; */
  height: 5%;
  width: 100%; 
  bottom: 0px;
  position: relative;
  /* margin-top: 50px; */
}

/* html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
} */

/* footer {  
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  } */

#logoGithub{
  width: 50px;
  height: 50px;
}
#linkfooter {
 
  color: rgb(3, 152, 158);
}