#buttonCardHome {
  font-family: "Short Stack";
  text-decoration: none; 
  background-color: rgb(3, 152, 158);
  color: white;
}

#buttonCard {
  font-family: "Short Stack";
  text-decoration: none; 
  background-color:  rgb(3, 152, 158, 0.2);
  color: rgb(3, 152, 158);;
  width: 150px;
}

#imgCarrusel {
  width: 290px;
  height: 250px;
}

#homeCardImagen {
  width: 230px;
  height: 190px;
  margin-left: 60px;
}

body {
  font-family: "Short Stack";
  color:  rgb(16, 60, 118);
  
}
h1 {
  text-align: center;
  margin-top: 20px;
  color: rgb(255, 189, 89);
}
h3 {
  text-align: center;
  margin-top: 20px;
  color: rgb(255, 189, 89);
}
h5 {
  color: rgb(3, 152, 158);
  font-size: 27px;
}

label {
  font-size: 20px;
}
span {
  font-size: 20px;
}


