#cardHome {
  width: 320px;
}
#buttonCardHome {
  text-decoration: none; 
  background-color: rgb(3, 152, 158);
  color: white;
  width: 600px;
}

#buttonCard {
  text-decoration: none; 
  background-color: rgb(3, 152, 158);
  color: white;
  width: 150px;
}

#imgCarrusel {
  width: 280px;
  height: 200px;
}

#carouselExampleInterval {
  margin-left: 100px;
}

body {
  font-family: cursive;
}
h1 {
  text-align: center;
  margin-top: 20px;
  color: rgb(255, 189, 89);
}
h3 {
  text-align: center;
  margin-top: 20px;
  color: rgb(255, 189, 89);
}
h5 {
  color: rgb(3, 152, 158);
  font-size: 27px;
}

label {
  font-size: 20px;
}
span {
  font-size: 20px;
}


