#buttonGuardar {
    background-color: rgb(3, 152, 158);
    color: white;
}
#nombreUsuario {
    color: rgb(3, 152, 158);

}
#favoritosPerfil {
    margin-top: 50px;
}
#tituloFavorito{
    color: rgb(3, 152, 158)
}
h4{
    color:rgb(255, 189, 89)
}

#favoritoPerfil{
    color:rgb(255, 189, 89)
}

#bienvenida{
    color: rgb(3, 152, 158)
}
